/* body{
    padding: 0;
    margin: 0;
} */

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.center-preloader, h5{
  
  position: absolute;
  top: 400px;
  left: 848px;
}
.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.btn-right {
  position: absolute;
  top: 0;
  right: 0.7rem;
}
label:not(:last-child) {
  margin-right: 40px;
}

